In [4]:
import json
import pandas as pd


with open('modified_tweets.json', encoding='utf-8') as file:
    data = json.load(file)

print(data[1])

{'_id': {'$oid': '5c8eccb0caa187d17ca623f7'}, 'text': "I can't wait for #BoardwalkEmpire", 'in_reply_to_status_id': None, 'retweet_count': None, 'contributors': None, 'created_at': 'Thu Sep 02 18:11:24 +0000 2010', 'geo': None, 'source': '<a href="http://www.tweetdeck.com" rel="nofollow">TweetDeck</a>', 'coordinates': None, 'in_reply_to_screen_name': None, 'truncated': False, 'entities': {'user_mentions': [], 'urls': [], 'hashtags': [{'text': 'BoardwalkEmpire', 'indices': [{'$numberInt': '17'}, {'$numberInt': '33'}]}]}, 'retweeted': False, 'place': None, 'user': {'friends_count': {'$numberInt': '204'}, 'profile_sidebar_fill_color': 'DDEEF6', 'location': '', 'verified': False, 'follow_request_sent': None, 'favourites_count': {'$numberInt': '0'}, 'profile_sidebar_border_color': 'C0DEED', 'profile_image_url': 'http://a2.twimg.com/profile_images/936242594/missouri-crying1_normal.jpg', 'geo_enabled': False, 'created_at': 'Sat Aug 08 22:22:40 +0000 2009', 'description': '', 'time_zone': None, 'url': None, 'screen_name': 'seabass18', 'notifications': None, 'profile_background_color': 'C0DEED', 'listed_count': {'$numberInt': '1'}, 'lang': 'en', 'profile_background_image_url': 'http://a1.twimg.com/profile_background_images/105773056/missouri-crying1.jpg', 'statuses_count': {'$numberInt': '238'}, 'following': None, 'profile_text_color': '333333', 'protected': False, 'show_all_inline_media': False, 'profile_background_tile': True, 'name': 'Travis Siebrass', 'contributors_enabled': False, 'profile_link_color': '0084B4', 'followers_count': {'$numberInt': '24'}, 'id': {'$numberInt': '64054560'}, 'profile_use_background_image': True, 'utc_offset': None}, 'favorited': False, 'in_reply_to_user_id': None, 'id': {'$numberLong': '22819397300'}}

In [5]:
df = pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24832 entries, 0 to 24831
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      24832 non-null  object
 1   text                     24832 non-null  object
 2   in_reply_to_status_id    6790 non-null   object
 3   retweet_count            0 non-null      object
 4   contributors             0 non-null      object
 5   created_at               24832 non-null  object
 6   geo                      159 non-null    object
 7   source                   24832 non-null  object
 8   coordinates              159 non-null    object
 9   in_reply_to_screen_name  8116 non-null   object
 10  truncated                24832 non-null  bool
 11  entities                 24832 non-null  object
 12  retweeted                24832 non-null  bool
 13  place                    187 non-null    object
 14  user                     24832 non-null  object
 15  favorited                24832 non-null  bool
 16  in_reply_to_user_id      8116 non-null   object
 17  id                       24832 non-null  object
 18  retweeted_status         2045 non-null   object
dtypes: bool(3), object(16)
memory usage: 3.1+ MB

In [6]:
df.isnull().sum()

_id                            0
text                           0
in_reply_to_status_id      18042
retweet_count              24832
contributors               24832
created_at                     0
geo                        24673
source                         0
coordinates                24673
in_reply_to_screen_name    16716
truncated                      0
entities                       0
retweeted                      0
place                      24645
user                           0
favorited                      0
in_reply_to_user_id        16716
id                             0
retweeted_status           22787
dtype: int64

In [13]:
selected_columns = ['text', 'source', 'entities', 'user']
filtered_data = [{column: record[column] for column in selected_columns} for record in data]